* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #fff;
  background-color: #6495ED;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color:#00008B ;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  height: 90px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #FFD700;
  
  padding-top: 10px;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 2px 1px 4px yellow;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #FFD700;
  text-align: center;
  font-size: 18.5px;
  font-weight: bold;
}
#nav-list a:hover,.navbar-header button.navbar-toggle:hover,.navbar-header .icon-bar {
  background: #20B2AA;
  border: 1.5px solid black;
}
#nav-list a span {
  font-size: 1.2em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1.5px solid #FFD700;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px; 
}
#content {
    color:white;
    font-style: italic;
    font-family: 'Lora', serif;
}
div #title-1,#title-2,#title-3{
    width: 100%;
    left:120px;
    text-align: center;
    font-weight: bold;
    font-size:200%;
    padding:7px;
    color:black;
    font-weight: bold;
    font-family: Apple Chancery, cursive;
    opacity: .8;
}
#sec a{
  color:black;
  text-decoration: underline;
}

#sec{
  color:#00008B;
  font-weight:bold;
  float:right;
  font-style: inherit;
}
.menu {
  text-align: center;
  width:100%;
  font-size:2em;
  font-family: Apple Chancery, cursive;
  color:blue;
  font-weight: bold;
  text-shadow: 4px 2px 1px #222;
  text-decoration: none;
}

#p1,#p2,#p3{
  background-color: #20B2AA;
  text-align:center;
  border:2px solid black;
  padding:10px;
}
.container{
  margin-bottom:10px;
  width:100%;
}

#main-content{
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right:10px;
}



/********** Large devices only *******
@media screen and (min-width: 992px) {
  #main-content> #container {
    flex:10%;
  }
}
/********* Medium devices only ********
@media screen and (min-width: 768px) and (max-width: 991px) {
  #main-content> #container {
    flex:50%;
  }
}
/********* Small devices only *********/
@media screen and (max-width: 767px) {
  
  #collapsable-nav a {
    font-size: 1.2em;
  }
  #collapsable-nav a span { 
    font-size: 1em;
    margin-right: 5px;
  }
  /*div .container {
    flex:100%;
  }*/
}
